WINgestion/Connected Services/SRgestion/WCFgestionE5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFgestion.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFgestion.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequerimientoWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="CcodCeCo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CcodClasificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CcodComponente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CcodMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CcodPosPre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CcodProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CcodServicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CcodTipoAdquisicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CcodTipoGasto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CcodUnidadMedida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CnumRequerimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DfecRequerimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fcantidad" type="xs:double" />
      <xs:element minOccurs="0" name="FimporteTotal" type="xs:double" />
      <xs:element minOccurs="0" name="FprecioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="Fstock" type="xs:double" />
      <xs:element minOccurs="0" name="IidRequerimiento_Cabecera" type="xs:int" />
      <xs:element minOccurs="0" name="IidRequerimiento_Detalle" type="xs:int" />
      <xs:element minOccurs="0" name="IidRequerimiento_Detalle_Bien" type="xs:int" />
      <xs:element minOccurs="0" name="IidRequerimiento_Detalle_Servicio" type="xs:int" />
      <xs:element minOccurs="0" name="TespecificacionTecnica_B" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TespecificacionTecnica_S" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tnota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cCodFuenteFinanciamiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNomCeCo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNomClaseGasto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNomClasificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNomCortoProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNomFuenteFinanciamiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNomMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNomPosPre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNomServicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNomTipoAdquisicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vNomUnidadMedida" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequerimientoWCF" nillable="true" type="tns:RequerimientoWCF" />
  <xs:complexType name="ArrayOfRequerimientoWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequerimientoWCF" nillable="true" type="tns:RequerimientoWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequerimientoWCF" nillable="true" type="tns:ArrayOfRequerimientoWCF" />
</xs:schema>