WINgestion/Connected Services/SRgestion/WCFgestionE3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aplicacion.amsac.pe/GESTION/WCFgestionE.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:import schemaLocation="http://aplicacion.amsac.pe/GESTION/WCFgestionE.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WCFgestion.Modelo" />
  <xs:element name="Combo_AñoProceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCompañia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_AñoProcesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Combo_AñoProcesoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Requerimiento_Cabecera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdRequrimiento_Cabecera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Requerimiento_CabeceraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Recupera_Requerimiento_CabeceraResult" nillable="true" type="q1:Requerimiento_Cabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Graba_Requerimiento_Cabecera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q2:Requerimiento_Cabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Graba_Requerimiento_CabeceraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Graba_Requerimiento_CabeceraResult" nillable="true" type="q3:Requerimiento_Cabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_Requerimiento_Cabecera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q4:Requerimiento_Cabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_Requerimiento_CabeceraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modifica_Requerimiento_CabeceraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Elimina_Requerimiento_Cabecera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdRequerimiento_Cabecera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Elimina_Requerimiento_CabeceraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Elimina_Requerimiento_CabeceraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Formulado_CentroCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto_Gestor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodClasificador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Formulado_CentroCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Formulado_CentroCostoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Disponible_CentroCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto_Gestor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodClasificador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Disponible_CentroCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Disponible_CentroCostoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Ejecutado_CentroCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto_Gestor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodClasificador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Ejecutado_CentroCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Ejecutado_CentroCostoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Comprometido_CentroCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto_Gestor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodClasificador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Comprometido_CentroCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Comprometido_CentroCostoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_EjecucionPresupuestal_CentroCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto_Gestor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_EjecucionPresupuestal_CentroCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_EjecucionPresupuestal_CentroCostoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_EjecucionPresupuestal_Proyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodProyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_EjecucionPresupuestal_ProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_EjecucionPresupuestal_ProyectoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_Requerimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strNumRequerimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_RequerimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Formato_RequerimientoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Requerimiento_Detalle_Requerido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q5:Formulacion_Saldo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Requerimiento_Detalle_RequeridoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Requerimiento_Detalle_RequeridoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Requerimiento_Detalle_Ejecutado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q6:Formulacion_Saldo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Requerimiento_Detalle_EjecutadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Requerimiento_Detalle_EjecutadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Requerimiento_Detalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdRequrimiento_Cabecera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Requerimiento_DetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Recupera_Requerimiento_DetalleResult" nillable="true" type="q7:Requerimiento_Detalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Graba_Requerimiento_Detalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q8:Requerimiento_Detalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Graba_Requerimiento_DetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Graba_Requerimiento_DetalleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_Requerimiento_Detalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q9:Requerimiento_Detalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_Requerimiento_DetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modifica_Requerimiento_DetalleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Elimina_Requerimiento_Detalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdRequerimiento_Detalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Elimina_Requerimiento_DetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Elimina_Requerimiento_DetalleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Requerimiento_Detalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strNumRequerimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Requerimiento_DetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Requerimiento_DetalleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_Requerimiento_Estado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCentro_Gestor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_Requerimiento_EstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Formato_Requerimiento_EstadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_Requerimiento_Firma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCentro_Gestor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPaso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNumRequerimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_Requerimiento_FirmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Formato_Requerimiento_FirmaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_Requerimiento_Ceco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCentro_Gestor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPaso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNumRequerimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_Requerimiento_CecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Formato_Requerimiento_CecoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_Requerimiento_DescarteFirma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCentro_Gestor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPaso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNumRequerimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strMotivoDescarte" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_Requerimiento_DescarteFirmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Formato_Requerimiento_DescarteFirmaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Requerimiento_Detalle_Bien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdRequrimiento_Detalle_Bien" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Requerimiento_Detalle_BienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Recupera_Requerimiento_Detalle_BienResult" nillable="true" type="q10:Requerimiento_Detalle_Bien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Graba_Requerimiento_Detalle_Bien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q11:Requerimiento_Detalle_Bien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Graba_Requerimiento_Detalle_BienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Graba_Requerimiento_Detalle_BienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_Requerimiento_Detalle_Bien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q12:Requerimiento_Detalle_Bien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_Requerimiento_Detalle_BienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modifica_Requerimiento_Detalle_BienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Elimina_Requerimiento_Detalle_Bien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdRequerimiento_Detalle_Bien" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Elimina_Requerimiento_Detalle_BienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Elimina_Requerimiento_Detalle_BienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Requerimiento_Detalle_Servicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdRequrimiento_Cabecera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Requerimiento_Detalle_ServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Recupera_Requerimiento_Detalle_ServicioResult" nillable="true" type="q13:Requerimiento_Detalle_Servicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Graba_Requerimiento_Detalle_Servicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q14:Requerimiento_Detalle_Servicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Graba_Requerimiento_Detalle_ServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Graba_Requerimiento_Detalle_ServicioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_Requerimiento_Detalle_Servicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q15:Requerimiento_Detalle_Servicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifica_Requerimiento_Detalle_ServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Modifica_Requerimiento_Detalle_ServicioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Elimina_Requerimiento_Detalle_Servicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdRequerimiento_Detalle_Servicio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Elimina_Requerimiento_Detalle_ServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Elimina_Requerimiento_Detalle_ServicioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Material">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodMaterial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_MaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Recupera_MaterialResult" nillable="true" type="q16:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Servicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodServicio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_ServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Recupera_ServicioResult" nillable="true" type="q17:Servicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Material">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strTexto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_MaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_MaterialResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Servicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodPosPre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_ServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_ServicioResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_UnidadMedida">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_UnidadMedidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Combo_UnidadMedidaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Formulacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCompañia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto_Gestor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodFuenteFinanciamiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodTipoAdquisicion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_FormulacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_FormulacionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Formulacion_Sado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="obj" nillable="true" type="q18:Formulacion_Saldo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Formulacion_SadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Recupera_Formulacion_SadoResult" nillable="true" type="q19:Formulacion_Saldo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Requerimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strNumRequerimiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_RequerimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFgestion.Modelo" minOccurs="0" name="Recupera_RequerimientoResult" nillable="true" type="q20:RequerimientoWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Requerimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCentroCosto_Gestor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_RequerimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFgestion.Modelo" minOccurs="0" name="Lista_RequerimientoResult" nillable="true" type="q21:ArrayOfRequerimientoWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdeUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Recupera_UsuarioResult" nillable="true" type="q22:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Usuario_Codigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodempresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLogUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Usuario_CodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Recupera_Usuario_CodigoResult" nillable="true" type="q23:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_Usuario_Modulo_DataTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodempresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLogUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_Usuario_Modulo_DataTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Combo_Usuario_Modulo_DataTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpcionesMenu_Top">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodempresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodModulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpcionesMenu_TopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpcionesMenu_TopResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpcionesMenu_Lateral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodempresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodModulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpcionesMenu_LateralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpcionesMenu_LateralResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Proyecto_Spring_Help">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCompañia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Proyecto_Spring_HelpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_Proyecto_Spring_HelpResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Empleado_Jefatura">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Empleado_JefaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_Empleado_JefaturaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Empleado_Codigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Empleado_CodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Recupera_Empleado_CodigoResult" nillable="true" type="q24:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Empleado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_EmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_EmpleadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_PeriodoProceso_DataTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_PeriodoProceso_DataTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Combo_PeriodoProceso_DataTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_Empresa_DataTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_Empresa_DataTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Combo_Empresa_DataTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_4E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCompañia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodFuenteFinanciamiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodProyecto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Formato_4EResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Formato_4EResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Formulado_Proyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodClasificador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Formulado_ProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Formulado_ProyectoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Disponible_Proyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodClasificador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Disponible_ProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Disponible_ProyectoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Ejecutado_Proyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodClasificador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Ejecutado_ProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Ejecutado_ProyectoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Comprometido_Proyecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAñoProceso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodProyecto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodClasificador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Lista_Comprometido_ProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista_Comprometido_ProyectoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_FuenteFinanciamiento_Reporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCompañia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_FuenteFinanciamiento_ReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_FuenteFinanciamiento_ReporteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_CentroCosto_Reporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodFuenteFinanciamiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_CentroCosto_ReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_CentroCosto_ReporteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Proyecto_Reporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodFuenteFinanciamiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodCentroCosto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Proyecto_ReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_Proyecto_ReporteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Proyecto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_ProyectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_ProyectoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_Prioridad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_PrioridadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Combo_PrioridadResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_TipoMoneda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Combo_TipoMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Combo_TipoMonedaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Proyecto_CentroCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodCentroGestor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intDigito" type="xs:int" />
        <xs:element minOccurs="0" name="strCodEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ayuda_Proyecto_CentroCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ayuda_Proyecto_CentroCostoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>